:root {
    --color-primary:#3f51b5;
    --color-secondary:#8C9EFF;
    --text-primary-on-dark: #fff;
    --text-secondary-on-light:rgba(0,0,0,.87);
    --color-components-purple: #5870cb;
    --color-components-dark: #303030;
    --color-components-light: rgba(0,0,0,.06);
}

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    background-color: var(--color-components-light);
    color: var(--text-secondary-on-light);
}

h2, h3, h4 {
    letter-spacing: 0.1rem;
}



/*HEADER*/

nav {
    background-color: var(--color-secondary);
}

.header {
    max-width: 1500px;
    margin: 0 auto;
}

.header::before {
    content: '';
    display: block;
    height: 2rem;
    width: 100%;
    background-color: var(--color-components-purple);
}

.header::after {
    content: '';
    display: block;
    height: 0.5rem;
    width: 100%;
    background-color: var(--color-primary);
}

.logo {
    font-size: 3rem;
    font-family: 'Aclonica', sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    color: var(--text-primary-on-dark);
    padding: 1.5rem;
    margin: 0;
}


/*MAIN*/

.container {
    flex-direction: column;
    background: white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.section__main,
.section__results {
    width: 100%;
    padding: 1.5rem;
}


.form__item-p {
    line-height: 2.5rem;
}

/*FORM COMPONENTS*/

.input-container {
    display: flex;
    margin-bottom: 1.5rem;
    position: relative;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
    height: 6rem;
    width: 100%;
}

.form__input {
    display: block;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    width: inherit;
    padding: 0.5rem;
}

.form__input-header {
    width: 27rem;
    transition: border-bottom-color .18s cubic-bezier(.4,0,.2,1);
    border: none;
    background: none;
    border-bottom: 0.1rem solid rgba(0,0,0,.12);
    font-size: inherit;
    -webkit-appearance: none;
    color: var(--color-components-dark);
    padding: 2rem 0.8rem 0 0.8rem;
    margin-top: 1rem;
}

.label {
    position: absolute;
    bottom: 2.6rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-components-dark);
}

.form__item-group {
    padding-top: 2rem;
}

div.form__item:nth-child(2) > div:nth-child(1) {
    padding-top: 1rem;
}

/*Header for ingredients*/

.form__item-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.form__item-li {
    width: 100%;
    flex: 1 1 auto;
    text-transform: uppercase;
    font-weight: bold;
}


/*Inputs for quantity, type of measurument and ingredient */


.form__item-ul,
.form__item-content,
.input-container {
    display: flex;
    justify-content: space-between;
}


#quantity,
#ingredient,
#measurument {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border: none;
    border-radius: 0.4rem;
}

.ingredient-input {
    padding-left: 1rem;
}

#quantity,
.quantity-input {
    max-width: 6rem;
    padding-right: 1rem;
}

#ingredient,
.ingredient-input {
    width: 100%;
    flex: 1 1 auto;
}


#measurument,
.measurument-input {
    max-width: 14rem;
}

#measurument {
    padding: 0 1rem;
    font-size: inherit;
}



/*buttons*/

button {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border: none;
    text-transform: uppercase;
    box-sizing: border-box;
    height: 4rem;
    padding: 0 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.4rem;
    letter-spacing: 0.2rem;
    width: 20rem;
}



#addIngredient {
    box-shadow: none;
    background: none;
    padding: 1.5rem;
}

.add-btn {
    padding-bottom: 3rem;
}


button#submit {
    color: rgb(8, 8, 8);
    background-color: var(--color-secondary);
    margin-right: 2rem;
}

button#clear {
    color: white;
    background-color: var(--color-primary);
}


#submit:hover,
#clear:hover,
#addIngredient:hover,
.fas:hover {
    cursor: pointer;
}

div.form__item:nth-child(4) {
    display: flex;
    justify-content: space-between;
}

.fas {
    font-size: 2.2rem;
    color: var(--color-primary);
}


/*Default section before entering ingredients*/

.results-default__item {
    width: auto;
}

.default__item-img {
    width: 100%;
}

