@media screen and (min-width: 768px)  {
    .container,
    .nav {
        display: flex;
        max-width: 900px;
        margin: 0 auto;
    }

    .section__main,
    .section__results {
        width: 50%;
}


}