@media screen and (min-width: 768px)  {
    .container,
    .nav,
    .input-container--inline {
        display: flex;
    }

    .container,
    .nav {
        flex-direction: row;
        max-width: 1500px;
        margin: 0 auto;
    }


}

@media screen and (min-width: 998px)  {

    .section__main,
    .section__results {
        width: 50%;
    }

    .section__results {
        border-left: 0.1rem #8080807d solid;
    }


}