@media screen and (min-width: 768px)  {
    .container,
    .header__nav,
    .input-container--flex {
        display: flex;
    }

    .input-container--flex {
        justify-content: space-between;
        width: 70%;
    }

    input[type="text"].quantity,
    input[type="text"].ingredient {
        padding: 1rem;
    }

}

@media screen and (min-width: 998px)  {

    .container,
    .header__nav {
        flex-direction: row;
        max-width: 1500px;
        margin: 0 auto;
    }

    .section-main,
    .section-results {
        width: 50%;
    }

    .form__input-header {
        width: inherit;
    }

    .input-container--flex {
        width: 100%;
    }

    .section-results {
        border-left: 0.1rem #8080807d solid;
    }
}